.bottom-tab {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top-left-radius: var(--rounded-01);
  border-top-right-radius: var(--rounded-01);
  height: 2rem;

  cursor: pointer;

  position: fixed;
  bottom: 0px;
  width: calc(91vw);

  transition: 0.2s;
}

.bottom-tab::before {
  content: '';
  position: absolute;
  display: block;
  background: lightgray;
  height: 0.5rem;
  width: 5rem;
  top: 10px;
  border-radius: var(--rounded-01);
}

.bottom-tab.open {
  height: 8rem;
}

.bottom-tab.open button.tab {
  align-self: center;
  background: var(--light-blue);
  border: none;
  margin-top: 1rem;
  padding: 0.6rem;
  border-radius: var(--rounded-01);
  box-shadow: 0px 0px 15px -3px var(--dark-blue);
}

.bottom-tab.open button.tab:active {
  box-shadow: 0px 0px 15px -3px var(--light-blue);
}

.bottom-tab.open button.tab img {
  pointer-events: none;
}
