:root {
  --darker-blue: #2A3D45;
  --dark-blue: #26404d;
  --light-blue: #289dd2;
  --dark-green: #55846c;
  --light-green: #5DAB83;
  --text-white: #f7f7f7;
}

/* Light theme */
html[data-theme='light'] {
  --dark-blue: hsl(210, 10%, 62%);
  --light-blue: hsl(210, 15%, 35%);
  --text-white: hsl(210, 50%, 72%);
}

@media screen and (prefers-color-scheme: light) {
  html {
    --dark-blue: hsl(210, 10%, 62%);
    --light-blue: hsl(210, 15%, 35%);
    --text-white: hsl(210, 50%, 72%);
  }
}
