div#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

div#home header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div#home header h1 {
  font-family: var(--font-title);
  font-size: var(--font-size-01);
  margin-bottom: 1rem;
}

div#home header small {
  font-size: var(--font-size-07);
  opacity: 0.8;
}

div#home button {
  text-transform: uppercase;
  font-size: var(--font-size-07);
  background-color: var(--light-blue);
  color: var(--text-white);
  padding: 1rem;
  border: none;
  border-radius: var(--rounded-01);
  width: 100%;
}
