.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 25vw;
}

:root {
  --rounded-01: 0.5rem;
  --rounded-02: 1rem;
  --rounded-03: 1.5rem;
  --rounded-04: 2rem;
}
